section {
  background-color: #f3f3f3;
  padding: 60px 0;
}

section .container .row .col.ls h2 {
  font-size: 26px;
}

section .container .row .col.ls h2 i {
  margin: 0;
  margin-left: 20px;
}

section .container .row .col-4.rs h2 a {
  font-size: 22px;
  color: #181717;
  text-decoration: none;
}
