<section>
  <div class="container">
    <div class="row">
      <div class="col info">
        <div class="card-info">
          <h2 class="card-title">
            Hi I’m Mahmoud Maher Al-feshawy, FullStack Developer.
          </h2>
          <p class="card-description">
            My work is mainly focused on third-dimension modeling, texturing and
            rendering. I like exploring the creatures with a touch of dark
            surrealism for characters and production.
          </p>
          <p class="more-info">
            Now I’m an interactive media design student in Istanbul ⏤ currently
            freelancing and seeking internship opportunities.
          </p>
        </div>
      </div>
      <div class="col-4 image">
        <div class="card-img"><img src="img.png" alt="" /></div>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div class="software">
          <h2 class="title">Main Software</h2>
          <div class="info-text">
            <p>
              Pixologic ZBrush, Autodesk Maya, The Foundry Mari, Arnold
              Renderer, Blender, Forger
            </p>
            <p>Adobe CC, Figma, Ableton</p>
          </div>
        </div>
        <div class="skills">
          <h2 class="title">Main Skills</h2>
          <div class="info-text">
            <p>
              Organic and Polygonal Modeling, UV Layout, Texturing, Retopology,
              Ilustration, Sound Design
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
