<div class="app">
  <app-header></app-header>
  <app-landing></app-landing>
  <app-project-card [cardTitle]="'01 / PROJECT NAME'"></app-project-card>
  <div class="container"><hr /></div>
  <app-project-card [cardTitle]="'02 / PROJECT NAME'"></app-project-card>
  <div class="container"><hr /></div>
  <app-project-card [cardTitle]="'03 / PROJECT NAME'"></app-project-card>
  <div class="container"><hr /></div>
  <app-info></app-info>
  <div class="container"><hr /></div>
  <app-contact></app-contact>
  <app-header></app-header>
</div>
